body{
  background-image: url(../img/bi-star-wars.jpg);
  background-repeat: no-repeat;
  background-size: cover;
  overflow: hidden;
}

.star-wars{
  display: flex;
  justify-content: center;
  position: relative;
  height: 1000px;
  color: #feda4a;
  font-family: 'Arimo', sans-serif;
  font-size: 600%;
  font-weight: 600;
  line-height: 150%;
  text-align: justify;
  perspective: 250px;
}

.text-animation{
  position: relative;
  transform-origin: 50% 100%;
  animation: starwarsIntro 30s linear infinite;
}

.title{
  text-align: center;
  font-size: 90%;
}

.second-line-title{
  font-size: 500%;
}

@keyframes starwarsIntro {
  0%{
      top: 300px;
      transform: rotateX(20deg) translateZ(0);
  }

  100%{
      top: -6000px;
      transform: rotateX(25deg) translateZ(-2000px);
  }
}
  